configuration {
  display-drun: "Applicatons:";
  display-window: "Windows:";
  drun-display-format: "{icon}  {name}";
  font: "Cantarell 12";
  modi: "window,run,drun";
  show-icons: true;
  icon-theme: "kora-pgrey";
}

@theme "~/.config/rofi/theme.rasi"
